body {
   text-align: center;
   font-size: 100%; //avoid IE resizing issues with em
   width: 100%;
   background-color: lightgray;
   font-family: Tahoma, Geneva, sans-serif;
   height: 100%;
   padding: 0;
   margin: 0;
}

html {
  height: 100%;
}

header {
   height: 250px;
   width: 200px;
   margin: auto;
   font-size: 1em;
}

.content {
    min-height: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}


header button {
   margin-bottom: 5px;
   width: 50px;
   height: 45px;
   opacity: 0.7;
   border: 1px solid black;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   background-color: skyblue;
}

.userButton:hover {
     text-shadow: 2px 2px 4px #000000;
}

#selected {
  border: 3px solid black;
  opacity: 1;
  text-shadow: none;
}

.toggleUser {
   font-size: .75em;
}


.content {
   width: 320px;
   margin: auto;

}

.content button {
   font-size: 1.5em;
   height: 100px;
   width: 145px;
   margin: 15px 5px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   background-color: skyblue;
   border: 2px solid black;
   text-align: center;
   color: white;
   display: inline-block;
}



a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-shadow: 2px 2px 4px #000000;
}

footer {
  text-shadow: 2px 2px 4px #000000;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  padding-bottom: 5px;
}

footer:hover {
  font-size: 1.25em;
}
