body {
   text-align: center;
   font-size: 100%; //avoid IE resizing issues with em
   height:100%;
   width: 100%;
   background-color: lightgray;
   font-family: Tahoma, Geneva, sans-serif;
}

header {
   height: 250px;
   width: 200px;
   margin: auto;
   font-size: 1em;
}

header button {
   margin-bottom: 5px;
   width: 50px;
   height: 45px;
   border: 3px solid black;
   opacity: 1;

   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   background-color: skyblue;
}

#selected {
   opacity: 0.7;
   border: 1px solid black;
}

.toggleUser {
   font-size: .75em;
}


.content {
   width: 320px;
   margin: auto;

}

.content button {
   font-size: 1.5em;
   height: 100px;
   width: 145px;
   margin: 15px 5px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   background-color: skyblue;
   border: 2px solid black;
   text-align: center;
   color: white;
   display: inline-block;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  font-size
}
